<!DOCTYPE html>
<html>
<head>
  <!-- Copyright 2014 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file. -->
  <title>{% block title %}{% endblock %} - buildbucket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylesheets/bootstrap-theme.min.css">

  <style type="text/css">
    body {
      padding-bottom: 2em;
    }
  </style>

  <script src="/static/scripts/jquery.min.js"></script>
  <script src="/static/scripts/bootstrap.min.js"></script>

  {% block head %}{% endblock %}
<body>
  <div class="container container-fluid">
    {% block content %}{% endblock %}
  </div>
</body>
</head>