{{define "title"}}All Views{{end}}

{{define "head"}}
<style>
.all-views {
  list-style-type: none;
  padding-left: 0;
}

.view h1, .no-view {
  font-size: 18px;
}

.view h1 a {
  color: #101010;
}

.view-entries {
  list-style-type: disc;
  font-size: 16px;
}

.error-message {
  background-color: #F2DEDE;
  font-size: 16px;
}
</style>
{{end}}

{{define "body"}}

<div>
  <ul class="all-views">
    {{if .ErrorMessage}}
      <h1 class="error-message">{{.ErrorMessage}}</h1>
    {{else}}
      {{range .Views}}
        <li class="view">
          <h1><a href="{{.URL}}">{{.Title}}</a></h1>
          <ul class="view-entries">
            {{range .Entries}}
              <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{else}}
              <li>No Entries</li>
            {{end}}
          </ul>
        </li>
      {{else}}
        <li class="no-view"><h1>No Configured Views</h1></li>
      {{end}}
    {{end}}
  </ul>
</div>

{{end}}

{{define "scripts"}}
{{end}}
