{{define "title"}}{{.Title}}{{end}}

{{define "head"}}
<style>
.build-set {
  border-width: 4px;
  padding: 4px;
}

.build-set > h3 {
  margin: 4px;
}

.build-set-contents .div {
}

.build-set-contents {
  padding-right:5px;
  padding-left:5px;

  /* Center this element on the screen (requires masonry fitWidth). */
  margin: 0 auto;
}

.grid-sizer,
.build-block {
  width: 250px;
}

.build-block {
  padding: 2px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

.build {
  border-radius: 10px;
  border-color: dimgray;
  border-width: 2px;
  border-style: solid;
}

.build ul {
  list-style-type: none;
  padding-left: 0;
}

.build ul > li {
  border-top: 1px solid #e1e1e1;
}

.build ul > li:first-child {
  border-top: none;
}

.build .panel-title {
  text-align: center;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.build .panel-heading {
  padding-bottom: 2px;
}

.build .panel-body {
  font-size: 12px;
  padding: 4px;
}

.build-status-pending {
  background-color: #F5F5F5;
}
.build-set-status-pending {
  border-color: #F5F5F5;
}

.build-status-running {
  background-color: #FCF8E3;
}
.build-set-status-running {
  border-color: #FCF8E3;
}

.build-status-success {
  background-color: #DFF0D8;
}
.build-set-status-success {
  border-color: #DFF0D8;
}

.build-status-failed {
  background-color: #F2DEDE;
}
.build-set-status-failed {
  border-color: #F2DEDE;
}

.build-status-exception {
  background-color: #FFE1FF;
}
.build-set-status-exception {
  border-color: #FFE1FF;
}

.build-status-canceled {
  background-color: #6f5499;
}
.build-set-status-canceled {
  border-color: #6f5499;
}

.build-status-invalid {
  background-color: #FF0000;
}
.build-set-status-invalid {
  border-color: #FF0000;
}

.query-instructions {
}

.query-instructions h1 {
  font-size: 16px;
}

.query-instructions.ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}

.code {
  font-family: "Courier New", Courier, monospace;
  background-color: #F5F5F5;
}
</style>

<script src="/static/masonry/masonry.pkgd.min.js"></script>
{{end}}

{{define "body-fluid"}}

<div>
  {{range $idx, $elem := .BuildSets}}
    <div class="build-set build-set-status-{{.Status}}">
      <h3>BuildSet: {{.Name}}</h3>

      <div id="build-set-{{$idx}}" class="build-set-contents">
        <div class="grid-sizer"></div>
        {{if .ErrorMsg}}
          <div class="build-status-failed">
            ERROR: {{.ErrorMsg}}
          </div>
        {{else}}
          {{range .Builds}}
            <div class="build-block">
              <div class="build build-status-{{.Status}}">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    {{if .URL}}
                      <a href="{{.URL}}" target="_blank">
                    {{end}}

                    {{.Title}}

                    {{if .URL}}
                      </a>
                    {{end}}
                  </h3>
                </div>
                <div class="panel-body">
                  <ul>
                    {{if .ID}}
                      <li>
                        BuildBucket:
                        {{if .BuildURL}}
                          <a href="{{.BuildURL}}" target="_blank">
                        {{end}}

                          {{.ID}}

                        {{if .BuildURL}}
                          </a>
                        {{end}}
                      </li>
                    {{end}}
                    <li>
                      Updated:
                      <span class="add-local-time">
                        {{.Updated | timeToUTCString}}
                      </span>
                    </li>
                    {{range .Subtext}}
                      <li>{{.}}</li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
          {{else}}
            <div>No Builds</div>
          {{end}}
        {{end}}
      </div>
    </div>
  {{else}}

    <div class="query-instructions">
      <h1>
        A query is composed of a series of ordered query parameters tokens. Each
        result section begins with a <strong>bucket</strong> parameter and is
        followed by other tags to further constrain the query. Multiple views
        can be specified by defining multiple sections via multiple
        <strong>bucket</strong> parameters, each of which can be further
        constrained.
      </h1>
      <ul>
        <li>
          <strong>bucket</strong>: the name(s) of the bucket. This can be a
          comma-delimited list of bucket names to query multiple buckets.
        </li>
        <li>
          <strong>tag</strong>: A <span class="code">key:value</span>-style
          BuildBucket tag to filter the query on. Can be specified multiple
          times.
        </li>
        <li>
          <strong>sorttag</strong>: Specifies a tag whose presence and value
          wills be used to sort build results. Can be specified multiple
          times.
        </li>
        <li>
          <strong>titletag</strong>: Specifies a tag whose value will be used
          used in the title of each build. Can be specified multiple times. If
          no title tag is specified, the build ID will be used as the title.
        </li>
        <li>
          <strong>showtag</strong>: The <span class="code">key</span> of
          BuildBucket tags to show in the build description, if present. Can
          be specified multiple times.
        </li>
        <li>
          <strong>show</strong>: Show specific build status fields:
          <ul>
            <li><strong>STATUS</strong>: Show BuildBucket build status.</li>
            <li>
              <strong>FAILURE_REASON</strong>: Show failure reason (if listed).
            </li>
          </ul>
        </li>
        <li>
          <strong>result</strong>: Filter on build result, one of:
          <ul>
            <li><strong>ALL</strong>: Show all builds (same as no filter).</li>
            <li><strong>SUCCESS</strong>: Show successful builds.</li>
            <li><strong>CANCELED</strong>: Show canceled builds.</li>
            <li>
              <strong>FAILURE</strong>: Show builds that failed for any reason.
            </li>
            <li>
              <strong>BUILDBUCKET_FAILURE</strong>: Show builds that failed
              due to a BuildBucket error.
            </li>
            <li>
              <strong>BUILD_FAILURE</strong>: Show builds that failed due
              to a build error.
            </li>
            <li>
              <strong>INFRA_FAILURE</strong>: Show builds that failed due
              to an infrastructure error.
            </li>
            <li>
              <strong>INVALID_BUILD_DEFINITION</strong>: Show builds that
              failed because their build definition was invalid.
            </li>
          </ul>
        </li>
        <li>
          <strong>max</strong>: Specify the maximum number of builds to show.
          If omitted, an application-chosen maximum will be applied.
          <em>Specifying a max can help speed up your query a lot.</em>
        </li>
        <li>
          <strong>canary</strong>: If specified, constrain query to builds that
          aren't canary builds ("n", "no", "false", "f", "0") or are canary
          builds (any other non-empty value).
        </li>
        <li>
          <strong>refresh</strong>: Automatically reload the current view after
          the specified number of seconds.
        </li>
      </ul>

      <div>An example query string to show failures for builds in two buckets,
      <span class="code">aaa</span> and <span class="code">bbb</span> with
      a <span class="code">foo:bar</span> tag is:</div>
      <div>
        <span class="code">
          /builds/query?bucket=aaa&tag=foo:bar&reason=INFRA_FAILURE&bucket=bbb&tag=foo:bar&reason=INFRA_FAILURE
        </span>
      </div>
    </div>

  {{end}}
</div>

{{end}}

{{define "scripts"}}
<script>
  /** Replace all elements of class "add-local-time" with local time. */
  $(".add-local-time").each(function() {
    var utcTimeString = this.innerText;
    var dt = new Date(utcTimeString);
    this.title = dt.toISOString();
    this.innerText = dt.toLocaleString();
  });

{{if .RefreshIntervalSecs}}
  setTimeout("location.reload(true);", ({{.RefreshIntervalSecs}}*1000));
{{end}}


var msnry = [];
{{ range $idx, $bs := .BuildSets }}
  msnry.push( new Masonry( document.querySelector('#build-set-{{$idx}}'), {
    // options
    itemSelector: '.build-block',
    columnWidth: '.grid-sizer',
    gutter: 4,
    fitWidth: true,
  } ) );
{{ end }}

</script>

{{end}}
