# Copyright (c) 2018 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

access_group: ""
swarming {
  host: "UPDATE_TO_POINT_TO_A_SWARMING_HOST"
  bot_pool: "ChromeOSSkylab"
  fleet_admin_task_tag: "skylab:fleet_admin"
  luci_project_tag: "luci_project:NON_EXISTENT"
}
tasker {
  # 90 minutes
  background_task_execution_timeout_secs: 5400
  # 10 minutes
  background_task_expiration_secs: 600
  logdog_host: ""
}
cron {
  fleet_admin_task_priority: 30
  ensure_tasks_count: 3
  repair_idle_duration: {
    seconds: 600
  }
  repair_attempt_delay_duration: {
    seconds: 3600
  }
}
