<!DOCTYPE HTML>
<html>
  <link rel="Stylesheet" type="text/css" href="../static/main.css">
  <body>
    <div class="container">
      <header>&ensp;
        <img src="../static/chops-logo.png" style="width:95px;height:95px">
        Chrome Operations
      </header>
      <main>
        <h2>Chrome Operations Status Dashboard</h2>
        <p class="subtext dash-summary">
          This page shows performace information for Chrome Operations Services.
          <br/>
          Check this page any time to view the current status of the services
          listed below.
        </p>

        {{$dates := .Dates}}
        {{if .ChopsServices}}
          <p class="subtext">Projects covered by a Service Level Agreement</p>
          <table>
            <tr>
              <th>Current Status</th>
              {{range $dates}}
              <th class="date-header">{{.}}</th>
              {{end}}
            </tr>
            {{range .ChopsServices}}
            <tr>
              <td>
                <a href={{.SLA}}>{{.Name}}</a>
              </td>
              {{$name := .Name}}
              {{range $dates}}
              <td id="{{$name}}-{{.}}">
              </td>
              {{end}}
              {{end}}
            </tr>
          </table>
        {{end}}

        {{if .NonSLAServices}}
          <p class="subtext">Projects not covered by a Service Level Agreement</p>
          <table>
            <tr>
              <th>Current Status</th>
              {{range .Dates}}
              <th class="date-header">{{.}}</th>
              {{end}}
            </tr>
            {{range .NonSLAServices}}
            <tr>
              <td>
                {{.Name}}
              </td>
              {{$name := .Name}}
              {{range $dates}}
              <td id="{{$name}}-{{.}}">
              </td>
              {{end}}
              {{end}}
            </tr>
          </table>
        {{end}}

        <p class="subtext right">
          <img class="light" src="../static/green.png">No issues
          <img class="light" src="../static/yellow.png">Service disruption
          <img class="light" src="../static/red.png">Service outage
        </p>

      </main>
    </div>
    <script tyep="text/javascript" src="../static/add-disruptions.js"></script>
    <script tyep="text/javascript">
      window.onload = function(){
           addIncidents({{.}});
      }
    </script>
  </body>
</html>
