*.pyc
.coverage
.expect_tests_coverage*
ENV
.wheelcache
bootstrap/virtualenv-ext
/luci
appengine/swarming
appengine/milo/vulcanized_main.html
appengine/experimental/milo-linear/vulcanized_main.html
appengine/milo/html/parts/graph/viz.js
/cipd/*
.DS_Store
/node/runtimes
# build_cache is used by infra.services.builder_alerts
build_cache
go/src/go.chromium.org
recipes-py
*.recipe_deps
!/cipd/README.md
reasons.sqlite
# sublime text
*.sublime-*
# Used by "infra/tools/dockerbuild".
.dockerbuild
# Cache directory created by 3pp/run_locally.sh
.3pp_wd
# build/build.py script produces *.cipd binaries, they must not be committed.
*.cipd
.vscode
