# Copyright (c) 2019 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Config file used for providing luci-config data when running a local
# AppEngine deveserver.
#
# Copy this file to config.cfg and edit it as needed.

access_groups {
  drones: ""
  inventory_providers: ""
}
