{% extends "base.html" %}
{% block content %}
<h1>Chrome Infra Monitoring Proxy</h1>


<p>Welcome to the Chrome Infrastructure Monitoring Proxy for time series data.

<ul>
  <li><a href="/admin/">Configuration</a> (requires membership in
      <a href="https://chrome-infra-auth.appspot.com/auth/groups#project-chrome-infra-monitoring-team" target="_blank">project-chrome-infra-monitoring-team</a>)
</ul>

<p>Send your protobufs to the /monacq endpoint (POST only) using the
<a href="https://chromium.googlesource.com/infra/infra/+/master/infra/libs/ts_mon/"
  target="_blank">infra/libs/ts_mon</a> library, or the
<a href="https://chromium.googlesource.com/infra/infra/+/master/infra/services/sysmon/"
   target="_blank">infra/services/sysmon</a> service.

The end point requires authentication as a member of the
<a href="https://chrome-infra-auth.appspot.com/auth/groups#service-account-monitoring-proxy"
   target="_blank">service-account-monitoring-proxy</a> group.
{% endblock %}
