{% extends "base.html" %}
{% block extra_head %}
<style>
.message {
  color: #990000;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <p>
        <div class="col-md-10">
<p><a href="/admin/">&lt; Admin</a>
<p><div class="message">{{ message }}</div>

<p><form method="POST">
Endpoint URL:
<p><input type="text" size="80" name="url" value="{{ url }}" />
<br>
Credentials JSON:
<p><textarea rows="20" cols="80" name="credentials">
{{ credentials }}
</textarea>
<br>
Scopes (one per line):
<p><textarea rows="5" cols="80" name="scopes">
{{ scopes }}
</textarea>
<br>
Additional HTTP headers (JSON). Leave empty if none:
<p><textarea rows="5" cols="80" name="headers">
{{ headers }}
</textarea>
<br>
<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
<input type="submit" />
</form>
        </div>
      </div>
    </div>
{% endblock %}
