{% extends "base.html" %}
{% block extra_head %}
<style>
.message {
  color: #990000;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}

<p><a href="/admin/">&lt; Admin</a>
<p><div class="message">{{ message }}</div>

<h1>Traffic Split</h1>

<form method="POST">

<h2>Secondary Endpoint</h2>

<p> {{ url2 }}
<p>Send <input type="text" size="3" name="secondary_endpoint_load" value="{{ secondary_endpoint_load }}" />
 % of traffic to this endpoint.

<h2>Modules</h2>

<p>Use these for gradual drain and ramp up of individual modules when
rolling out updates.  Normally, all should be at 100%.

<p>Do not drain more than one module at a time; at least two modules
must be at 100% at all times.

<p>VM1 load: <input type="text" size="3" name="vm1" value="{{ vm1 }}" /> %
<p>VM2 load: <input type="text" size="3" name="vm2" value="{{ vm2 }}" /> %
<p>VM3 load: <input type="text" size="3" name="vm3" value="{{ vm3 }}" /> %
<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
<p><input type="submit" />
</form>

{% endblock %}
