{% extends "base.html" %}
{% block extra_head %}
<style>
.message {
  color: #990000;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
<p><a href="/admin/">&lt; Admin</a>
<p><div class="message">{{ message }}</div>

<p><form method="POST">
<h2>Primary Endpoint</h2>
Primary Endpoint URL:
<p><input type="text" size="80" name="primary_url" value="{{ primary_url }}" />
<br>
Primary Credentials JSON:
<p><textarea rows="10" cols="80" name="primary_credentials">
{{ primary_credentials }}
</textarea>
<br>
Primary Scopes (one per line):
<p><textarea rows="2" cols="80" name="primary_scopes">
{{ primary_scopes }}
</textarea>
<br>
Primary HTTP headers (JSON). Leave empty if none:
<p><textarea rows="2" cols="80" name="primary_headers">
{{ primary_headers }}
</textarea>
<br>
<h2>Secondary Endpoint</h2>
Secondary Endpoint URL:
<p><input type="text" size="80" name="secondary_url" value="{{ secondary_url }}" />
at <input type="text" size="3" name="secondary_endpoint_load" value="{{ secondary_endpoint_load }}" /> % load
<br>
Secondary Credentials JSON:
<p><textarea rows="10" cols="80" name="secondary_credentials">
{{ secondary_credentials }}
</textarea>
<br>
Secondary Scopes (one per line):
<p><textarea rows="2" cols="80" name="secondary_scopes">
{{ secondary_scopes }}
</textarea>
<br>
Secondary HTTP headers (JSON). Leave empty if none:
<p><textarea rows="2" cols="80" name="secondary_headers">
{{ secondary_headers }}
</textarea>
<br>
<input type="hidden" name="xsrf_token" value="{{xsrf_token}}" />
<input type="submit" />
</form>
{% endblock %}
