<!DOCTYPE html>
<html>
  <body>
    <font style="font-family:Arial,Verdana,sans-serif;color:rgb(68,68,68)">
      <h1 style="font-weight:bold">Chromium Committers</h1>

      <p style="color:rgb(255,0,0);font-weight:bold">
        CONFIDENTIAL
      </p>

      <p style="color:rgb(255,0,0);font-weight:bold">
        Access to the Chromium Committers list is restricted to committers only.
        {% if login_url %}
        <a href={{ login_url }}>Log in.</a>
        {% endif %}
      </p>

      <p>
        Please follow one of the links below to access the list you want.<br>
        <ul>
          {% for list in lists %}
          <li><a href="/lists/{{ list }}">{{ list }}</a>
          {% endfor %}
        </ul>
      </p>
    </font>
  </body>
</html>
