<!DOCTYPE html>
<title>Tricium</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="import" href="/bower_components/chopsui/chops-header.html">

<chops-header app-title="Tricium" logo-src="/bower_components/chopsui/img/logo.png"></chops-header>
<pre id="content"></pre>
<img id="mascot" src="/static/images/tri.png">
<footer>
  <hr>
  <p class="version-footer">
    <small>Tricium version: {{.AppVersion}}</small>
  </p>
</footer>

<script>
'use strict';

// TODO(qyearsley): When a custom component is made for displaying
// run details, this fetching logic will be put there.
async function init() {
  const path = document.location.pathname;
  if (!path.startsWith('/run/')) {
    return;
  }
  const content = document.getElementById('content');
  const mascot = document.getElementById('mascot');
  const runID = path.replace('/run/', '');
  try {
    const response = await _requestProgress(runID);
    const data = await _parseRpcJson(response);
    content.textContent = JSON.stringify(data, null, 2);
    mascot.hidden = true;
  } catch (error) {
    content.textContent = 'Failed to fetch Progress: ' + error;
    mascot.hidden = false;
  }
}

// Note: The rpcexplorer bundled with this service has its own
// rpc-client element, which works great, but an error occurs
// when loading both that and chopsui on the same page, since
// they use separate versions of Polymer.
//
// TODO(qyearsley): Put pRPC helper functions in a separate
// JS file since they'll be used in multiple places.
async function _requestProgress(runID) {
  const url = '/prpc/tricium.Tricium/Progress';
  const headers = new Headers({
    'Content-Type': 'application/json',
    'Accept': 'application/json',
  });
  const opts = {
    headers,
    method: 'POST',
    body: JSON.stringify({runId: runID}),
  };
  return await fetch(url, opts);
}

async function _parseRpcJson(response) {
  const jsonPrefix = ')]}\'';
  const text = await response.text();
  if (!text.startsWith(jsonPrefix) {
    throw Error(`Non-JSONP response text: "${text}".`);
  }
  return JSON.parse(text.substring(jsonPrefix.length));
}

init();
</script>
