{{define "body"}}

<img src="/static/images/tri.png"/>

<!-- Analysis request form, filling in example values from a test repository for easier testing -->
<!-- TODO(emso): replace values with placeholder values -->
<!-- TODO(emso): Use XSRF tokens in all form POSTs -->
<!--
<form action="/internal/analyze-form" method="post">
  <div class="fieldSet">
  <fieldset>
    <legend>Analysis Request</legend>
    <i>(Example values filled in. Replace with corresponding values for your change.)</i>
    <p>
    <b>Project</b>:<br>
    <input type="text" name="Project" size="50" class="textbox-400"
      value="playground/gerrit-tricium" required/>
    <p>
    <b>GitRef</b>:<br>
    <input type="text" name="GitRef" size="50" class="textbox-400"
      value="refs/changes/18/400218/17" required/>
    <p>
    <b>Paths</b>:<br>
    <input type="text" name="Path[]" size="50" class="textbox-400"
                                              value="README.md" required multiple/>
    <input type="text" name="Path[]" size="50" class="textbox-400"
                                              value="README2.md"/>
  </fieldset>
  <p>
  <input class="button" type="submit" value="Analyze">
  </div>
</form>
<p class="status">{{.StatusMsg}}</p>
-->

{{end}}
