<!DOCTYPE html>
<title>rota-ng</title>
<body>
<script src="/static/dist/bundle.js"></script>
<nav-bar page="home"></nav-bar>
<h1> rota-ng </h1>
<a href="https://docs.google.com/document/d/1WdvMckyfzfx9anU1hLHJ16EuvXv4Keo8aUmSTQRuNp4/edit"> Design </a>
<br/>
<p> Rota-NG is used to generate oncall rotas for primarily Chrome related teams. </p>


<p> The code can be found at
<a href="https://chromium.googlesource.com/infra/infra/+/master/go/src/infra/appengine/rotang/">
Rota NG Source
</a>
</p>
<p> Information about how to
<a href="https://chromium.googlesource.com/infra/infra/+/master/go/src/infra/appengine/rotang/SWITCH.md">
Switch to RotaNG
</p>
</a>
</p>
<a href="upload">Upload Legacy JSON rota configuraton</a><br>
<a href="list">List configurations in backend store</a><br>
<a href="managerota">Manage rotations</a><br>

{{if .Rotas}}
<h4>Rotations</h4>
<rota-oncall rotas="{{.Rotas}}" user="{{.User}}">
</rota-oncall>
<h4>Member</h4>
<rota-member></rota-member>
{{end}}
</body>
