<!doctype html>
<html>
  <head>
    <title>Manage shifts</title>
  </head>
  <script src="/static/dist/bundle.js"></script>
  <nav-bar page="shifts"></nav-bar>
  <body>
    <script src="/static/dist/bundle.js"></script>
    <h4>Shift history</h4>
    <rota-shift-history shifts='{{.History}}'>
    </rota-shift-history>
    <h4>Current shifts</h4>
    <rota-shift-current shifts='{{.Current}}'>
    </rota-shift-current>
    <h4>Generate shifts</h4>
    <rota-shift-generate rota='{{.Rota}}' generators='{{.Generators}}' modifiers='{{.Modifiers}}'>
    </rota-shift-generate>
  </body>
</html>
