/** 
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file 
 */

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#drawerToolbar {
  color: #727272;
  background-color: #ffffff;
  border-bottom:  1px solid rgba(0, 0, 0, 0.22);
  height: 64px;
}

.paper {
  border-radius: 2px;
  height: 100%;
  width: 90%;
  padding: 16px 16px 16px 16px;
  margin: 3%;
  background: white;
  color: #A75600;
}

paper-toolbar.paper-toolbar-0 {
  background: Orange;
}

paper-menu iron-icon {
  margin-right: 33px;
  opacity: 0.54;
}

.paper-menu > .iron-selected {
  color: DarkOrange;
}

paper-menu paper-item iron-icon {
  margin-left: 20px;
}

paper-menu paper-item {
  margin-top: 10px;
  text-decoration: none;
  color: #111111;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-weight: 450;
  line-height: 24px;
  min-height: 48px;
  padding: 0 16px;
  cursor: pointer;
}

#mainToolbar .middle {
  margin-left: 48px;
}

#mainToolbar.has-shadow .middle {
  font-size: 20px;
  padding-bottom: 0;
  margin-left: 48px;
}

#chromeInfraImg {
  display: block;
	margin-left: auto;
  margin-right:auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

project-dropdown {
  display: block;
  margin-left: 8px;
  margin-top: 50px;
}

.paperContent {
  margin-left: 1%;
} 

.brand-google.theme-dark.google-signin {
  background: #DB6700;
  border: 1px solid #DB6700;
}

#doc {
  background: #FFB24C;
  color: #fff;
  text-transform: none;
  font-size: 18px;
  margin: 10px; 
}

#trooper {
  background: #FF7C4C;
  color: #fff;
  text-transform: none;
  font-size: 18px;
  margin: 10px;  
}

/* mobile */
@media all and (min-width: 0) and (max-width: 513px) and (orientation: portrait) { 
  paper-toolbar {
    height: 60px;
  }

  paper-toolbar.tall {
    height: 110px;
  }

  #mainToolbar .middle {
    margin-top: 10px;
    padding-bottom: 4%;
    margin-left: 30px;
    font-size: 23px;
    line-height: 30px;
  }

  #mainToolbar.has-shadow .middle {
    display: none;
  }

  #chromeInfraImg {
    display: none;
  }
}

/* mobile */
@media all and (min-width: 0) and (max-width: 700px) and (orientation: landscape) { 
  paper-toolbar {
    height: 60px;
  }

  paper-toolbar.tall {
    height: 110px;
  }

  #mainToolbar .middle {
    margin-top: 10px;
    padding-bottom: 4%;
    margin-left: 30px;
    font-size: 23px;
    line-height: 30px;
  }

  #mainToolbar.has-shadow .middle {
    display: none;
  }

  #chromeInfraImg {
    display: none;
  }
}
