<!DOCTYPE html>
<html>
  <body>
    <font style="font-family:Arial,Verdana,sans-serif;color:rgb(68,68,68)">
      <h1 style="font-weight:bold">Chromium Committers</h1>

      <p style="color:rgb(255,0,0);font-weight:bold">
        CONFIDENTIAL
      </p>

      <p style="color:rgb(255,0,0);font-weight:bold">
        Access to the Chromium Committers list is restricted to committers only.
        <a href={{ login_url }}>Log in.</a>
      </p>

      <p>
        Please follow the link below to continue to the list.<br>
        <ul>
          <li><a href="/chromium">Chromium Committers</a>
        </ul>
      </p>
    </font>
  </body>
</html>
