# Copyright 2016 The Chromium Authors. All rights reserved.
# Use of this source code is govered by a BSD-style
# license that can be found in the LICENSE file or at
# https://developers.google.com/open-source/licenses/bsd

# Defines fake monorail api clients for testing

clients {
  client_email: "123456789@developer.gserviceaccount.com"
  client_id: "123456789.apps.googleusercontent.com"
  display_name: "johndoe@example.com"
  description: "John Doe needs api access"
  project_permissions {
    project: "chromium"
    role: contributor
  }
  contacts: "johndoe@example.com"
}

clients {
  client_email: "bugdroid1@chromium.org"
  client_id: "987654321.apps.googleusercontent.com"
  description: "bugdroid"
  project_permissions {
    project: "chromium"
    role: committer
  }
  contacts: "bugdroidowner@example.com"
}
