<!DOCTYPE html>
<title>rota-ng</title>
<body>
<h1> rota-ng </h1>
<a href="https://docs.google.com/document/d/1WdvMckyfzfx9anU1hLHJ16EuvXv4Keo8aUmSTQRuNp4/edit"> Design </a>
<br/>
<p> Rota-NG is used to genereate oncall rotas for primarily Chrome related teams. </p>


<p> The code can be found at
<a href="https://chromium.googlesource.com/infra/infra/+/master/go/src/infra/appengine/rota-ng/">
Rota NG Source
</a>
</p>
<a href="upload">Upload Legacy JSON rota configuraton</a><br>
<a href="list">List configurations in backend store</a><br>
<a href="managerota">Manage rotations</a><br>

{{if .Rotas}}
<h2>Rotations you are a member of</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Oncall</th>
    </tr>
  </thead>
  <tbody>
  {{range $r := .Rotas}}
    <tr>
      <td><a href="oncall/{{$r}}">{{$r}}</a></td>
    </tr>
  {{end}}
  </tbody>
</table>
{{end}}
</body>
