.circle {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: -1px;

}
.circle-container {
  margin: .5px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.center,
.right,
.left {
  display: table-cell;
  height: 10px;
  width: 5px;
}
.right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.yellow {
  background-color: gold;
}
