.dash-summary {
  text-align: center;
}
.date-header {
  font-size: .8em;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
header {
  background-color: rgb(205, 223, 250);
  font-size: 2em;
  height: 100px;
  width: 100%;
}
.light {
  height: 11px;
  padding-right: 4px;
  padding-left: 12px;
  width: 11px;
}
logo {
  height: 95;
  width: 95;
}
.right {
  text-align: right;
}
.subtext {
  font-size: .8em;
}
table {
  border-collapse: collapse;
}
table,
td,
th {
  border: 1px solid rgb(205, 223, 250);
}
th {
  background-color: rgb(205, 223, 250);
}
tr {
  height: 30px;
}
