<!DOCTYPE html>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, user-scalable=no">
<title>Chops Status Dashboard</title>
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: arial, sans-serif;
  }
  .center-align {
    text-align: center;
  }
  .current {
    width: 20%;
  }
  .date-header {
    font-size: .8em;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .key {
    padding: 10px 5px;
  }
  .table-footer {
    height: 20px;
    font-size: .7em;
    text-align: right;
  }
  .table-footer,
  header {
    background-color: rgb(205, 223, 250);
  }
  header {
    font-size: 1.5em;
    height: 60px;
    padding: 10px;
    text-align: left;
    width: 100%;
  }
  .left-align {
    text-align: left;
  }
  .right-align {
    text-align: right;
  }
  .subtext {
    font-size: .8em;
  }
  table {
    border-collapse: collapse;
  }
  table,
  td,
  th {
    border: 1px solid rgb(205, 223, 250);
  }
  th {
    background-color: rgb(205, 223, 250);
    font-size: .8em;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  tr {
    height: 30px;
  }
</style>
<link rel="stylesheet" type="text/css" href="/static/icons.css">
<div class="container">
  <header>
    Chrome Operations Status Dashboard
  </header>
  <main>
    <p class="left-align subtext">All dates shown are using the local timezone</p>
    <p class="key subtext left-align">
      <i class="green circle"></i>No issues<br/>
      <i class="yellow circle"></i>Service disruption<br/>
      <i class="red circle"></i>Service outage<br/>
    </p>
    {{$dates := .Dates}}
    {{$older := .OlderDate}}
    {{$newer := .NewerDate}}
    {{if .ChopsServices}}
      <p class="subtext">Covered by a Service Level Agreement</p>
      <table>
        <tr>
          <th class="current">Current Status</th>
          {{range $dates}}
            <th class="js-date"></th>
          {{end}}
        </tr>
        {{range .ChopsServices}}
        {{$name := .Service.Name}}
          <tr>
            <td class="js-{{$name}}">
              <a href={{.Service.SLA}}>{{.Service.Name}}</a>
            </td>
            <td class="table-body js-{{$name}}-incidents" colspan="7"></td>
          </tr>
        {{end}}
        <tr class="table-footer subtext">
          <td colspan="8" class="center-align">
            <span>
              <a href="?upto={{$older}}">Older</a>
            </span>
            {{if $newer}}
              <span>
                <a href="?upto={{$newer}}">Newer</a>
              </span>
            {{end}}
          </td>
        </tr>
      </table>
    {{end}}

    {{if .NonSLAServices}}
      <p class="subtext">Projects not covered by a Service Level Agreement</p>
      <table>
        <tr>
          <th>Current Status</th>
          {{range .Dates}}
            <th class="date-header">{{ . | fmtDate}}</th>
          {{end}}
        </tr>
        {{range .NonSLAServices}}
        {{$name := .Service.Name}}
          <tr>
            <td class="js-{{$name}}">
              {{.Service.Name}}
            </td>
            {{range $dates}}
              <td class="js-{{$name}}-{{ . | fmtDate}}"></td>
            {{end}}
          </tr>
        {{end}}
      </table>
    {{end}}
  </main>
</div>
<script src="/static/add-incidents.js"></script>
<script>
  (function() {
    const RELOAD_TIME_MS = 5*60*1000;
    window.__addIncidents({{.}});
    window.setTimeout(() => {
      window.location.reload();
    }, RELOAD_TIME_MS);
  })();
</script>
