/* Copyright 2015 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file */

.fieldNameInput {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.fieldNameAdd {
  display: inline-block;
  vertical-align: top;
  color: green;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 7%;
}

.fieldRemove {
  display: inline-block;
  vertical-align: top;
  color: red;
  margin-top: 5%;
  padding-top: 0;
  margin-bottom: 0;
  margin-left: 2%;
  padding-left: 0;
}

field-button {
  margin-left: 6%;
  vertical-align: top;
}

#wholeBlock {
  margin-bottom: 5%;
}

#title {
  margin-top: 3%;
  font-size: 20px;
  font-weight: 70;
}

#clear {
  background: #CC3399;
  color: white;
  margin-top: 4%;
}