<!DOCTYPE html>
<head>
  <title>Flake Dashboard</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/common.css">
</head>
<body>
<h1> Flake Dashboard </h1>
  <h3>Filter Swarming Reruns</h3>
  <form method="get" action="/waterfall/filter-flake">
    <p> master_name <input type="text" name="master_name" id="master_name" size="200"/> </p>
    <p> builder_name <input type="text" name="builder_name" id="builder_name" size="200"/> </p>
    <p> build_number <input type="text" name="build_number" id="build_number" size="200"/> </p>
    <p> step_name <input type="text" name="step_name" id="step_name" size="200"/> </p>
    <p> test_name <input type="text" name="test_name" id="test_name" size="200"/> </p>
    <input type="submit" value="Filter Regression Ranges">
  </form>
<table>
<tr>
        <th>Master Name</th>
        <th>Builder Name</th>
        <th>Build Number</th>
        <th>Step Name</th>
        <th>Test Name</th>
        <th>Graph</th>
</tr>
<tbody>
{% for master_flake_analysis in master_flake_analyses %}
<tr>
<td>  {{master_flake_analysis.master_name}} </td>
<td>  {{master_flake_analysis.builder_name}}</td>
<td>  {{master_flake_analysis.build_number}}</td>
<td>  {{master_flake_analysis.step_name}}</td>
<td>  {{master_flake_analysis.test_name}}</td>

<td>
<form method="get" action="/waterfall/check-flake">
 <input type="hidden" name="master_name" value="{{master_flake_analysis.master_name}}">
 <input type="hidden" name="builder_name" value="{{master_flake_analysis.builder_name}}">
 <input type="hidden" name="build_number" value="{{master_flake_analysis.build_number}}">
 <input type="hidden" name="step_name" value="{{master_flake_analysis.step_name}}">
 <input type="hidden" name="test_name" value="{{master_flake_analysis.test_name}}">
 <input type="submit" value="View">
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
