<!DOCTYPE html>
<head>
  <title>Flakiness Regression Range</title>
  <meta charset="utf-8">
</head>
<body>
  <h3>Submit a test to get information about its flakiness</h3>
  <form method="get" action="/waterfall/check-flake">
    <p> master_name <input type="text" name="master_name" id="master_name" size="200"/> </p>
    <p> builder_name <input type="text" name="builder_name" id="builder_name" size="200"/> </p>
    <p> build_number <input type="text" name="build_number" id="build_number" size="200"/> </p>
    <p> test_target_name <input type="text" name="test_target_name" id="test_target_name" size="200"/> </p>
    <p> test_name <input type="text" name="test_name" id="test_name" size="200"/> </p>
    <input type="submit" value="Find Regression Range">
  </form>
</body>
