<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Flakiness</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
      var testUrlRegexOnBuildbot = /^https?\:\/\/build\.chromium\.org\/p\/([^\/]+)\/builders\/([^\/]+)\/builds\/([\d]+)\/steps\/([^\/]+)\/logs\/([^\/]+)$/;
      var testUrlRegexOnUberProxy = /^https?\:\/\/uberchromegw\.corp\.google\.com\/i\/([^\/]+)\/builders\/([^\/]+)\/builds\/([\d]+)\/steps\/([^\/]+)\/logs\/([^\/]+)$/;

    $('#url').on("change paste keyup", function() {
      var url = $('#url').val().trim();
      if (!url)
        return;

      url = decodeURI(url);
      var groups = url.match(testUrlRegexOnBuildbot);
      if (!groups)
        groups = url.match(testUrlRegexOnUberProxy);
      if (!groups)
        return;

      $('#master_name').val(groups[1]);
      $('#builder_name').val(groups[2]);
      $('#build_number').val(groups[3]);
      $('#step_name').val(groups[4]);
      $('#test_name').val(groups[5]);
    });
  });
  </script>
</head>
<body>
  <h3>Information of the flaky Swarmed Gtest:</h3>
  <div style="margin-left:30px">
    URL to the test: <input type="text" id="url" placeholder="https://build.chromium.org/p/chromium.win/builders/Win7%20%2832%29%20Tests/builds/11062/steps/browser_tests%20on%20Windows-7-SP1/logs/AppBackgroundPageApiTest.Basic" size="200"/>
  </div>
  <br>
  Or:
  <br>
  <div style="margin-left:30px">
    <form method="get" action="/waterfall/check-flake">
      <table>
        <tr>
          <td style="text-align:right">Master (required):</td>
          <td><input type="text" name="master_name" id="master_name" size="100" placeholder="chromium.win"/></td>
        </tr>
        <tr>
          <td style="text-align:right">Builder (required):</td>
          <td><input type="text" name="builder_name" id="builder_name" size="100" placeholder="Win7 (32) Tests"/></td>
        </tr>
        <tr>
          <td style="text-align:right">Build Number (required):</td>
          <td><input type="text" name="build_number" id="build_number" size="100" placeholder="11062"/></td>
        </tr>
        <tr>
          <td style="text-align:right">Step (required):</td>
          <td><input type="text" name="step_name" id="step_name" size="100" placeholder="browser_tests on Windows-7-SP1"/></td>
        </tr>
        <tr>
          <td style="text-align:right">Test (required):</td>
          <td><input type="text" name="test_name" id="test_name" size="100" placeholder="AppBackgroundPageApiTest.Basic"/></td>
        </tr>
        <tr>
          <td style="text-align:right">Bug ID (optional):</td>
          <td><input type="text" name="bug_id" id="bug_id" size="3" placeholder="123456"/></td>
        </tr>
      </table>
      <br>
      <input type="submit" value="Find Regression Range">
    </form>
  </div>
  <br>
</body>
