<!DOCTYPE html>
<title>Chromium Code Review</title>
<meta name=viewport content='initial-scale=1, maximum-scale=1, user-scalable=no'>

{%if account%}
<script>
  var INITIAL_USER_DATA = {
    email: "{{account.email|escapejs}}",
    name: "{{account.nickname|escapejs}}",
  };
</script>
{%endif%}

<script src='/new_static/bower_components/platform/platform.js'></script>

{%if is_dev%}
  <link rel='import' href='/new_static/components/cr-app.html'>
{%else%}
  <link rel='import' href='/new_static/components/cr-app.vulcanized.html?v={{rietveld_revision}}'>
{%endif%}

<link rel='stylesheet' href='/new_static/style.css'>
<cr-app></cr-app>
