<!DOCTYPE html>
<title>Chromium Code Review</title>
<meta name=viewport content='initial-scale=1, maximum-scale=1, user-scalable=no'>

{%if account%}
<script>
  var INITIAL_USER_DATA = {
    email: "{{account.email|escapejs}}",
    name: "{{account.nickname|escapejs}}",
  };
</script>
{%endif%}

{%if not is_dev%}
<script>
window.GoogleAnalyticsObject = "ga";

window.ga = window.ga || function() {
    ga.q = ga.q || [];
    ga.q.push(arguments);
};
ga.q = [];
ga.l = +new Date();

var script = document.createElement("script");
script.async = true;
script.src = "//www.google-analytics.com/analytics.js";
document.documentElement.appendChild(script);

ga("create", "UA-55762617-11", {
      "allowLinker": true,
      "siteSpeedSampleRate": 100,
});

ga("require", "linker");

ga("linker:autoLink", [
      "chromiumcodereview.appspot.com",
        "codereview.chromium.org",
        ]);

ga("send", "pageview");
</script>
{%endif%}

<script src='/new_static/bower_components/platform/platform.js'></script>

{%if is_dev%}
  <link rel='import' href='/new_static/components/cr-app.html'>
{%else%}
  <link rel='import' href='/new_static/components/cr-app.vulcanized.html?v={{rietveld_revision}}'>
{%endif%}

<style>
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1.65em;
    color: #222;
}

body {
    overflow-y: scroll;
    /* Avoid the overlay chrome status bar. */
    padding-bottom: 20px;
}
</style>
<cr-app></cr-app>
