@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
  height: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
}

.nav {
  padding: 15px 0px 0px 0px;
  background: #333;
}

.nav li {
  display: inline;
}

.nav a {
  color: #A3A3A3;
  font-size: 18px;
  padding: 14px 10px;
  text-transform: uppercase;
}

.gen_time {
  color: #A3A3A3;
}

.data_table {
  margin-top: 30px;
}

.data_item {
  text-align: center;
}

th {
  text-align: center;
}

tbody {
  height: 120px;
  overflow-y: auto;
}

.git_hash {
  width: 40%;
}

.rietveld_url {
  width: 40%;
}

.request_timestamp {
  width: 20%;
}
.stats {
  text-align: center;
  margin-top: 70px;
}

.stats h3 {
  font-weight: bold;
}