@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
  height: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
}

.nav {
  padding: 15px 0px 0px 0px;
  background: #333;
}

.nav li {
  display: inline;
}

.nav a {
  color: #A3A3A3;
  font-size: 18px;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .gen_time {
  color: #A3A3A3;
}

.stats {
  margin-top: 90px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #A3A3A3;
}

.stats .numbers {
  text-align: center;
  color: #000;
}

.stats h3 {
  font-weight: bold;
}

.data_table {
  margin-top: 40px;
}

.data_item {
  text-align: center;
}

th {
  text-align: center;
}

tbody {
  height: 120px;
  overflow-y: auto;
}
