.header {
  position: fixed;
  margin-top: 50px;
  padding-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fff;
  z-index: 5;
  width: 100%;
}

.stats {
  margin-left: 5%;
  margin-right: 5%;
  color: #333;
}

.pad {
  padding-top: 130px;
}

a.anchor:before {
  content: "";
  display: block;
  height: 130px; 
  margin: -130px 0 0; 
}

.data_item {
  text-align: center;
}

th {
  text-align: center;
}

.commit_type {
  margin-top: 50px;
}