@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  height: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-top: 75px;
  background-color: #FFF;
}

.nav {
  padding: 3px 0px 0px 0px;
  background: #333;
}

.nav li {
  display: block;
  margin: 0px 0px 5px 0px;
  color: #A3A3A3;
}

.nav .page_title {
  color: #BDBDBD;
  font-size: 20px;
  text-transform: uppercase;
  padding-right: 20px;
  font-family: 'Lora';
  margin-left: 8px;
  margin-top: 3px;
}

.nav a {
  color: #A3A3A3;
  font-size: 17px;
  padding: 2px 5px;
  text-transform: uppercase;
}

.ul_nav {
  margin-bottom: 0px;
}

body#home_body li#home_nav,
body#search_body li#search_nav,
body#stats_body li#stats_nav,
body#leaderboard_body li#leaderboard_nav {
  border:1px solid #A3A3A3;
  margin-left: 2px;
  margin-right: 2px;
  color: #A3A3A3;
}

body#home_body .navbar-nav > li#home_nav > a,
body#search_body .navbar-nav > li#search_nav > a,
body#stats_body .navbar-nav > li#stats_nav > a,
body#leaderboard_body .navbar-nav > li#leaderboard_nav > a,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover {
    color: #A3A3A3;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important; 
    padding-bottom: 0px !important;
    height: 28px;
}

.navbar {
  min-height: 28px !important;
}

.nav>li>a {
  display: block;
}

.navbar-nav > li > a, .navbar-brand {
   padding: 0 15px;
   line-height: 25px;
   height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #BDBDBD;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #A3A3A3;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #999999;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #777777;
}

.navbar-toggle {
  height: 26px;
  border:1px solid #A3A3A3;
  padding: 5px 6px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 1px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #A3A3A3;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #777777;
    border-radius: 1px;
}

.gen_time {
  color: #A3A3A3;
  text-align: right;
}

.intro_text {
  margin-bottom: 30px;
}

.page_text {
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.page_text::first-letter { 
  font-size: 25px; 
  line-height: 15px; 
  padding-top: 4px; 
  padding-right: 2px; 
  padding-left: 3px; 
  font-family: 'Lora';
}

.contents {
  height: 70%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 991px) {
  .truncate.rietveld_url {
    max-width: 200px;
    min-width: 100px;
  }
  
  .truncate.git_hash {
    max-width: 100px;
    min-width: 50px;
  }
  
  .truncate.commit_timestamp {
    max-width: 50px;
    min-width: 20px;
  }
  
  th {
    text-align: left;
    max-width: 50px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}