<!DOCTYPE html>
<title>cr-audit-commits</title>
<h1> cr-audit-commits </h1>
<a href="http://go/commit-audit-app"> go/commit-audit-app </a>
<br/>
<p> cr-audit-commits is an appengine app that periodically examines git repositories
(such as chromium's) to make sure that automated accounts with commit authoring
permissions (such as findit's) adhere to a set of specified
policies </p>

<p> The code can be found at
<a href="https://chromium.googlesource.com/infra/infra/+/master/go/src/infra/appengine/cr-audit-commits/">
This location
</a>
</p>

