<html>
 <head>
  <title>Chromium Badges for {{viewed_user_email}}</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css?version={{app_version}}">
 </head>

 <h1>Chromium Badges for {{viewed_user_email}}</h1>

 <div id="badges">
  {% if not badges %}
    <p>Sorry, this user does not have any badges yet.</p>
  {% endif %}
  {% for badge_view in badges %}
    {% if badge_view.show %}
      <div class="badge" title="{{badge_view.badge_def.description}}">
        <div class="icon">
          <img src="/images/{{badge_view.badge_def.icon}}">
          {% if badge_view.level %}<div class="level">{{badge_view.level}}</div>{% endif %}
        </div>
        <div class="caption">{{badge_view.badge_def.title}}</div>
      </div>
    {% endif %}
  {% endfor %}
 </div>
</html>
