<!DOCTYPE html>
<title>ChopsUI Gallery</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

<link rel="import" href="/components/cg-app/cg-app.html">

<style>
  html, body, cg-app {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
  }
</style>

<body>
  <cg-app></cg-app>
</body>
