<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" /> 

  
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/suspicious_commits.css">
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" /> 
</head>

<body>

<div id="page_header" class="pull-right">{{ page_header_text }}</div>

<div id="content">
  <div class="table_header" id="table_header">
    <table>
      <tr>
        {% for item in table_headers %}
          <td class="{{ item }} label">{{ item }}</td>
        {% endfor %}
      </tr>
    </table>
  </div>

  <div class="table_data" id="table_data">
    <table>
      {% for git_hash, _, _, rietveld_url, request_timestamp, _ in suspicious_commits %}
        <tr class="data_item">
          <td class="git_hash hyperlink">
            <a href="{{ gitiles_prefix }}{{ git_hash }}"> {{ git_hash }} </a></td>
          <td class="rietveld_url hyperlink">
            <a href="{{ rietveld_url }}"> {{ rietveld_url.strip('/') }} </a></td>
          <td class="request_timestamp"> {{ request_timestamp }} </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

</body>
</html>
