<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" /> 

  
  <script 
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>
  <script src="static/bootstrap.min.js"></script>
  <script src="static/bootstrap-table.js"></script>
  <script src="static/leaderboard.js"></script>
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="static/leaderboard_arcade.css">
  <link rel="stylesheet" type="text/css" href="static/leaderboard.css">


  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" /> 
</head>



<body>

  <div class="nav navbar-fixed-top">
    <div class="container">
      <ul class="pull-left">
        <li><a href="{{ antibody_main_link }}">{{ page_header_text }}</a></li>
        <li><a href="{{ tbr_by_user_link }}">{{ to_be_reviewed }}</a></li>
        <li><a href="{{ stats_link }}">{{ stats }}</a></li>
        <li><a href="{{ leaderboard_link }}">{{ leaderboard }}</a></li>
      </ul>
      <ul class="pull-right">
        <li><p class="gen_time">Generated {{ generation_time }} UTC</p></li>
      </ul>
    </div>
  </div>

  <button type="button" id="change_css">Click Me!</button>

  <div class="leaderboard">
    <div class="container">
      <h3>Leaderboard</h3>
      <table id="table"
             data-toggle="table"
             data-url="all_time_leaderboard.json"
             data-sort-name="name"
             data-sort-order="desc">
        <thead>
          <tr>
            <th data-field="rank" data-sortable="true">Rank</th>
            <th data-field="email" data-sortable="true">Email</th>
            <th data-field="suspicious" data-sortable="true">
                Suspicious Commits</th>
            <th data-field="total" data-sortable="true">Total Commits</th>
            <th data-field="ratio" data-sortable="true">
                Ratio Suspicious:Total Commits</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

</body>
</html>
