<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" /> 

  <script 
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>
  <script src="../static/third_party/bootstrap.min.js"></script>
  <script src="../static/third_party/bootstrap-table.js"></script>
  <script src="../static/universal.js"></script>
  <script src="../static/search_by_user.js"></script>
  <link rel="stylesheet" href="../static/third_party/bootstrap.min.css">
  <link rel="stylesheet" href="../static/third_party/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="../static/search_by_user.css">
  <link rel="stylesheet" type="text/css" href="../static/universal.css">


  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" /> 
</head>



<body id="{{ curr_page_id }}">
  <nav class="nav navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" 
            class="navbar-toggle collapsed" 
            data-toggle="collapse" 
            data-target="#navbar" 
            aria-expanded="false" 
            aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ antibody_main_link }}"
           class="navbar-brand page_title">Antibody</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ul_nav">
          {% for link, nav_id, nav_text in navbar_items %}
          <li id="{{ nav_id }}"><a href="{{ link }}">{{ nav_text }}</a></li>
          {% endfor %}
          <li><a href="{{ feedback_link }}" target="_blank">Feedback</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false">
            {{ curr_repo }}<span class="caret"></span></a>
          <ul class="dropdown-menu ul_nav">
            {% for repo in all_repos %}
              {% if repo|lower == curr_repo|lower %}
              <li class="disabled">
              {% else %}
              <li>
              {% endif %}
              <a href="../{{ repo }}/{{ curr_page_link }}">{{ repo }}</a></li>
            {% endfor %}
          </ul>
        </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div class="search">
  <div class="container">

    <div class="intro_text">
      <p class="page_text">Look up potentially suspicious commits to 
          {{ curr_repo }} by username. Filter by either authored or TBR'ed.</p>
    </div>


    <div class="row">    
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span id="search_concept">Select by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu type_menu" role="menu">
              <li><a href="#tbr">TBR'ed</a></li>
              <li><a href="#author">Authored</a></li>
              <li class="divider"></li>
              <li><a href="#all">All</a></li>
            </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">         
          <input type="text" class="form-control username" name="x" placeholder="Username">
          <span class="input-group-btn">
            <button class="btn btn-default" id="search_btn" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <div class="commits_to_be_reviewed bootstrap-table">
    <div class="container tbr">
    </div>
  </div>

  <div class="gen_time">
    <div class="container">
      <p>Generated {{ generation_time }} UTC</p>
    </div>
  </div>

</body>
</html>
