<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />


  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
  </script>
  <script src="../static/third_party/bootstrap.min.js"></script>
  <script src="../static/third_party/bootstrap-table.js"></script>
  <script src="../static/universal.js"></script>
  <link rel="stylesheet" href="../static/third_party/bootstrap.min.css">
  <link rel="stylesheet" href="../static/third_party/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="../static/time_period_stats.css">
  <link rel="stylesheet" type="text/css" href="../static/universal.css">



  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>



<body>
  <div class="nav navbar-fixed-top">
    <div class="container">
      <ul class="pull-left">
        <li><a href="{{ antibody_main_link }}">{{ page_header_text }}</a></li>
        <li><a href="{{ tbr_by_user_link }}">{{ to_be_reviewed }}</a></li>
        <li><a href="{{ stats_link }}">{{ stats }}</a></li>
        <li><a href="{{ leaderboard_link }}">{{ leaderboard }}</a></li>
      </ul>
      <ul class="pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true"
              aria-expanded="false">{{ curr_repo }}
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% for repo in all_repos %}
              {% if repo|lower == curr_repo|lower %}
              <li class="disabled">
              {% else %}
              <li>
              {% endif %}
              <a href="../{{ repo }}/{{ curr_page }}">{{ repo }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="header">
    <h3>{{ time_period_header_name }}</h3>
  </div>

  <div class="contents">
    <div class="pad"></div>
  
    <div class="stats">
      <a class="anchor" name="{{ tbr_no_lgtm_link }}"></a>
      <div class="commit_type">
        <h4>TBR'ed Commits without LGTM</h4>
      </div>
      <table 
          data-toggle="table" 
          data-cache="false"
          data-pagination="true">
        <thead>
          <tr>
          {% for item in table_headers %}
            <th data-field="{{ item }} label">{{ item }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <!-- review_url, request_timestamp, subject, hash -->
          {% for rietveld_url, commit_timestamp, subject, git_hash in
          tbr_no_lgtm %}
          <tr class="data_item">
            <td class="git_hash hyperlink">
              <a href="{{ gitiles_prefix }}{{ git_hash }}">
                {{ git_hash }}
              </a></td>
            <td class="rietveld_url hyperlink">
              <a href="{{ rietveld_url }}">
                {{ subject }}
              </a></td>
            <td class="commit_timestamp">{{ commit_timestamp }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      <div class="commit_type">
        <a class="anchor" name="{{ no_review_url_link }}"></a>
        <h4>Commits without Review URLs</h4>
      </div>
      <table 
          data-toggle="table" 
          data-cache="false"
          data-pagination="true">
        <thead>
          <tr>
          {% for item in table_headers %}
            <th data-field="{{ item }} label">{{ item }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <!-- review_url, request_timestamp, subject, hash -->
          {% for rietveld_url, commit_timestamp, subject, git_hash in
          no_review_url %}
          <tr class="data_item">
            <td class="git_hash hyperlink">
              <a href="{{ gitiles_prefix }}{{ git_hash }}">
                {{ git_hash }}
              </a></td>
            <td class="rietveld_url hyperlink">
                {{ subject }}
            <td class="commit_timestamp">{{ commit_timestamp }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
      <div class="commit_type">
        <a name="{{ blank_tbr_link }}"></a>
        <h4>Commits with Blank TBRs</h4>
      </div>
      <table 
          data-toggle="table" 
          data-cache="false"
          data-pagination="true">
        <thead>
          <tr>
          {% for item in table_headers %}
            <th data-field="{{ item }} label">{{ item }}</th>
          {% endfor %}
          </tr>
        </thead>
        <tbody>
          <!-- review_url, request_timestamp, subject, hash -->
          {% for rietveld_url, commit_timestamp, subject, git_hash in
          blank_tbr %}
          <tr class="data_item">
            <td class="git_hash hyperlink">
              <a href="{{ gitiles_prefix }}{{ git_hash }}">
                {{ git_hash }}
              </a></td>
            <td class="rietveld_url hyperlink">
              <a href="{{ rietveld_url }}">
                {{ subject }}
              </a></td>
            <td class="commit_timestamp">{{ commit_timestamp }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="gen_time">
    <div class="container">
      <p>Generated {{ generation_time }} UTC</p>
    </div>
  </div>
</body>
</html>
