# Copyright 2017 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Defines notifiers on luci-notify.appspot.com.
# Please keep this list sorted by name.

# on_change  = Whenever the build status changes.
# on_success = On every build success.
# on_failure = On every build failure.

