<!DOCTYPE html>
<style>
h1 {
  font-family: sans-serif;
}
#postWarning {
  color: red;
}
textarea {
  width: calc(100%% - 10px);
  height: 50vh;
}
</style>

<h1>Chromium CQ Status</h1>
<pre>
Source code:
<a href="https://chromium.googlesource.com/infra/infra/+/master/appengine_apps/chromium_cq_status/">https://chromium.googlesource.com/infra/infra/+/master/appengine_apps/chromium_cq_status/</a>
Use "<a href="http://commondatastorage.googleapis.com/chrome-infra-docs/flat/depot_tools/docs/html/depot_tools_tutorial.html">fetch</a> infra" to clone the dev repos.



Site directory listing:

<a href="/patchset/(issue)/(patchset)">/patchset/(issue)/(patchset)</a>
Shows a timeline of CQ activity on a given patchset.
Example patchset: <a href="/patchset/557043002/1">/patchset/557043002/1</a>


<a href="/recent">/recent</a>
Shows the most recently submitted CQ updates.


<a href="/stats/blink/daily">/stats/blink/daily</a>
<a href="/stats/blink/weekly">/stats/blink/weekly</a>
<a href="/stats/chromium/daily">/stats/chromium/daily</a>
<a href="/stats/chromium/weekly">/stats/chromium/weekly</a>
Recent CQ stats for the Blink/Chromium projects aggregated by day or week.
Only accepts GET requests.
Accepts optional URL param for how many days worth of stats to fetch:
  days: int=100


<a href="/stats/query">/stats/query</a>
API for querying CQ stats.
Only accepts GET requests.
Accepts the following optional URL params:
  project: str
  interval_days: int
  begin: timestamp
  end: timestamp
  names: str (comma separated)
  count: int=100 (max 1000)
  cursor: str=''

The returned query results are in the following JSON structure:
{
  "results": [
    {
      "project": str,
      "interval_days": int,
      "begin": timestamp,
      "end": timestamp,
      "stats": [
        {
          "type": "count",
          "name": str,
          "description": str,
          "count": int
        }
        OR
        {
          "type": "list",
          "name": str,
          "description": str,
          "unit": str,
          "sample_size": int,
          "min": float,
          "max": float,
          "mean": float,
          "percentile_10": float,
          "percentile_25": float,
          "percentile_50": float,
          "percentile_75": float,
          "percentile_90": float,
          "percentile_95": float,
          "percentile_99": float,
          "best_10": [[float, {}]],
          "worst_10": [[float, {}]]
        }
      ]
    }
  ],
  "cursor": str,
  "more": bool
}

Example:
/stats/query?project=chromium&names=issue_count,patchset_count


<a href="/query">/query</a>
API for querying CQ records.
Only accepts GET requests.
Accepts the following optional URL params:
  key: str (non numeric)
  begin: timestamp
  end: timestamp
  tags: str (comma separated)
  fields: json
  count: int=100 (max 1000)
  cursor: str

The returned query results are in the following JSON structure:
{
  "results": [{
    "timestamp": int,
    "key": str|null,
    "tags": [str],
    "fields": {field: value}
  }],
  "more": bool,
  "cursor": str
}

Example:
/query?tags=a,b,c&count=10

Shortcut:
Tags can be specified in the URL, the following is an equivalent example.
/query/a/b?tags=c&count=10


<a href="/post">/post</a>
API for posting CQ records.
Requires @chromium.org/@google.com <a href="%(login_url)s">sign in</a>.
Only accepts POST requests.
Accepts multiple p URL params.
Each p value is a record to add in the following JSON structure:
{
  "key": str|null,
  "tags": [str],
  "fields": {field: value}
}



TESTING ONLY:
<form id="queryForm">
Query entries from /query:
  key: <input type="textbox" name="key">
  begin: <input type="textbox" name="begin">
  end: <input type="textbox" name="end">
  tags: <input type="textbox" name="tags">
  fields: <input type="textbox" name="fields">
  count: <input type="textbox" name="count">
  cursor: <input type="textbox" name="cursor">
  <input type="reset" value="Clear"> <input type="button" id="querySubmit" value="Query">
</form>
Query view:
<textarea id="queryResult"></textarea>

<form id="postForm">
Post entry to /post:
  key: <input type="textbox" name="key">
  tags: <input type="textbox" name="tags">
  fields: <input type="textbox" name="fields">
  <input type="reset" value="Clear"> <input type="button" id="postSubmit" value="Post"> <span id="postWarning"></span>
Post result:
<textarea id="postResult"></textarea>
</form>
</pre>

<script>
if (!%(valid_user)d) {
  postWarning.textContent = 'Posting restricted to @chromium.org/@google.com users.';
  postSubmit.disabled = true;
}

function encodeForm(form) {
  return [].map.call(form.querySelectorAll('input[type=textbox]'), function(field) {
    return field.name + '=' + encodeURIComponent(field.value);
  }).join('&');
}

function loadResult(url, textarea) {
  textarea.value = '';
  var xhr = new XMLHttpRequest();
  xhr.open('get', url, true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      try {
        var json = JSON.parse(xhr.responseText);
        textarea.value = JSON.stringify(json, null, '  ')
      } catch (_) {
        textarea.value = xhr.responseText;
      }
    }
  }
  xhr.send();
}

postSubmit.addEventListener('click', function() {
  loadResult('/post?' + encodeForm(postForm), postResult);
});
querySubmit.addEventListener('click', function() {
  loadResult('/query?' + encodeForm(queryForm), queryResult);
});
</script>
