{% extends "base.html" %}

{% block content %}
  <h2>Last Break Pad reports</h2>
  {% for r in reports %}
  <strong>Date:</strong> {{ r.date|date:"D M d, H:i T " }}<br>
  <strong>Version:</strong> {{ r.version }}<br>
  <strong>User:</strong> {{ r.user }}<br>
  <strong>Host:</strong> {{ r.host }}<br>
  <strong>Cwd:</strong> {{ r.cwd }}<br>
  <strong>Args:</strong> {{ r.args }}<br>
  <strong>Stack:</strong><br>{{ r.stack|linebreaksbr }}<br>
  <strong>Exception:</strong><br>{{ r.exception|linebreaksbr }}<br>
  <p>
  {% endfor %}
{% endblock %}
