{% extends "base.html" %}

{% block content %}
  <center>
  <h2>Last 100 {{ app_name }} commits status</h2>
  <table border="1" cellpadding="5">
  <tr bgcolor="#CCCCFF">
    <td><b>Git Hash</b></td>
    <td><b>Delta</b></td>
    <td><b>When</b></td>
  </tr>
  {% for commit in commits %}
    <tr>
      <td><a href="https://chromium.googlesource.com/chromium/src/+log/{{ commit.key }}">{{ commit.key }}</a>
      <td>{{ commit.delta }}</td>
      <td>{{ commit.date|date:"D M d, H:i T " }}</td>
    </tr>
  {% endfor %}
   </table>
  </center>
{% endblock %}
