body {
  font-family: sans-serif;
}
fieldset {
  border: none;
  width: 600px;
  padding: 0;
}
legend {
  font-size: 20px;
  font-weight: bold;
}
label.field {
  text-align: right;
  width: 100px;
  float: left;
  font-weight: bold;
}
fieldset p {
  padding: 5px;
}
input.textbox-400 {
  width: 400px;
  float: left;
  padding: 2px;
  margin: 0 0 0 2px;
}
div.fieldSet {
  border: solid black thin;
  width: 600px;
  background-color: rgba(255, 255, 0, 0.5);
}
input.button {
  font-size: 16px;
  margin: 0 0 2px 2px;
}
p.status {
  border: solid black thin;
  background-color: rgba(84, 179, 43, 0.3);
  width: 600px;
  padding: 2px;
  margin: 5px 0 0 0;
}
p.header {
  font-size: 36px;
  font-weight: bold;
  color: rgba(84, 179, 43, 1);
  margin: 0 0 0 0;
}
fieldset.menu {
  background-color: rgba(84, 179, 43, 0.3);
  border: solid thin black;
  padding: 4px;
  margin: 0 0 5px 0;
  width: 600px
}
a.menu-item {
  background-color: rgba(84, 179, 43, 0.5);
  padding: 2px;
  text-decoration: none;
  border: solid thin black;
}
table.results {
  border: 1px solid black;
  width: 100%
}
table.results th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
table.results td {
  text-align: left;
}
table.results tr:hover {
  background-color: #f5f5f5;
}
