{% extends "base.html" %}

{% block content %}
<div class="Announcement">

<iframe width="100%" height="44" frameborder="0" scrolling="no" src="http://chromium-status.appspot.com/current"></iframe>

<center style="padding: 0 7px">
  <table width="100%" valign="top" bgcolor="#efefef" style="-webkit-border-bottom-left-radius: 24px; -webkit-border-bottom-right-radius: 24px; -moz-border-bottom-right-radius: 24px; -moz-border-bottom-right-radius: 24px;   box-shadow: 2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);">
    <tr>
      <td width="23%">
        <table valign="top" width="100%">
          <tr>
            <td style="text-align: right;">
              <b>Builds:</b>
            </td>
            <td>
              <a href="http://commondatastorage.googleapis.com/chromium-browser-continuous/index.html">continuous</a> |
              <a href="http://chromium-browser-symbols.commondatastorage.googleapis.com/index.html">symbols</a> |
              <a href="http://chromium-status.appspot.com">status</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <b>Dashboards:</b>
            </td>
            <td>
              <a href="http://build.chromium.org/f/chromium/perf/dashboard/overview.html">perf</a> |
              <a href="http://build.chromium.org/f/chromium/perf/dashboard/memory.html">memory</a> |
              <a href="http://build.chromium.org/f/chromium/perf/dashboard/sizes.html">sizes</a> |
              <a href="http://build.chromium.org/f/chromium/perf/dashboard/coverage.html">coverage</a> |
              <a href="http://build.chromium.org/f/chromium/flakiness/">flakiness</a> |
              <a href="http://build.chromium.org/p/chromium/stats">stats</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <b>Chromium:</b>
            </td>
            <td>
              <a href="http://src.chromium.org/viewvc/chrome">sources</a> |
              <a href="http://codereview.chromium.org/">reviews</a> |
              <a href="http://code.google.com/p/chromium/issues/list?can=2&q=&sort=pri+mstone&colspec=ID%20Stars%20Pri%20Area%20Type%20Status%20Summary%20Modified%20Owner%20Mstone">bugs</a> |
              <a href="http://dev.chromium.org/Home">dev</a> |
              <a href="http://www.google.com/support/chrome/">support</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <b>Sheriffs:</b>
            </td>
            <td>
              <script src='./sheriff.js'></script>, <script src='./sheriff_memory.js'></script>(Memory),
              <script src='./sheriff_nacl.js'></script>(NaCl),
              <a href="https://www.google.com/calendar/render?cid=google.com_iqfka4i9asiva67vlqqf1es094%40group.calendar.google.com">trooper schedule</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <b>Gardeners:</b>
            </td>
            <td>
              <script src='./sheriff_webkit.js'></script>(WebKit),
              <script src='./sheriff_cr_cros_gardeners.js'></script>
              (<a href="http://dev.chromium.org/developers/tree-sheriffs/chrome- in-chromeos-gardening">ChromeOS</a>)
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
               <b>Navigate:</b>
            </td>
            <td colspan="2">
              <a href="http://dev.chromium.org/developers/testing/chromium-build-infrastructure/tour-of-the-chromium-buildbot">about</a> |
              <a href="./waterfall/help">customize</a> |
              <a href="../tryserver.chromium">try</a> |
              <a href="../chromium.fyi/waterfall">experimental</a> |
              <a href="../chromium/waterfall">waterfall</a> |
              <a href="../chromium/waterfall?show_events=true&failures_only=true">failures</a> |
              <a href="../chromium/console">console</a> |
              <a href="../chromium.memory/console">memory</a> |
              <a href="../chromium.memory.fyi/console">memory fyi</a> |
              <a href="../chromiumos/waterfall">chromiumos</a> |
              <a href="../client.nacl/console">NaCl</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="1" bgcolor="#CCCCCC">
      </td>
      <td width="4%" style='padding: 0px 2px 0px 2px;'>
        <div style='height: 120px; width: 120px'>
          <table>
            <tr>
              <td class='Builder' style='border-top-left-radius: 15px; border-top-right-radius: 15px;'>
                <a href='../chromium/waterfall?builder=Win%20Reliability'>Reliability</a>
              </td>
            </tr>
            <tr>
              <td class='Time' id='ReliabilityTop'>
                <br><br>Loading...<br><br><br><br>
              </td>
            </tr>
            <tr>
              <td class='Time' id='ReliabilityBottom' style='border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;'>
                <br>
              </td>
            </tr>
          </table>
        </div>
        <script src='reliability.js'></script>
        <script>
          setTimeout("displayReliability()", 100);
        </script>
      </td>
      <td width="1" bgcolor="#CCCCCC">
      </td>
      <td width="1%">
      </td>
      <td width="70%">
        <table width="100%">
          <script language="javascript">
            var chromium = ""
            var chromium_chromiumos = ""
            var webkit = [
                "builder=Webkit Win Builder (deps)",
                "builder=Webkit Win (deps)",
                "builder=Webkit Win Builder (deps)(dbg)",
                "builder=Webkit Win (deps)(dbg)(1)",
                "builder=Webkit Win (deps)(dbg)(2)",
                "builder=Webkit Mac Builder (CG)(deps)",
                "builder=Webkit Mac10.6 (CG)(deps)",
                "builder=Webkit Mac Builder (CG)(deps)(dbg)",
                "builder=Webkit Mac10.6 (CG)(deps)(dbg)(1)",
                "builder=Webkit Mac10.6 (CG)(deps)(dbg)(2)",
                "builder=Webkit Mac Builder (deps)",
                "builder=Webkit Mac10.6 (deps)",
                "builder=Webkit Mac Builder (deps)(dbg)",
                "builder=Webkit Mac10.6 (deps)(dbg)(1)",
                "builder=Webkit Mac10.6 (deps)(dbg)(2)",
                "builder=Webkit Linux (deps)",
                "builder=Webkit Linux Builder (deps)(dbg)",
                "builder=Webkit Linux (deps)(dbg)(1)",
                "builder=Webkit Linux (deps)(dbg)(2)",
            ].join("&").replace(" ","+").replace("(","%28").replace(")","%29");
            var memory = "";
            var memory_fyi = "";
            var perf = "";
            var cros = "";
            var chrome = "";
            var lkgr = "";
            var pyauto = "";

            function BarUrl(x) {
              return "http://build.chromium.org/p/" + x +
                     "/horizontal_one_box_per_builder";
            }
            var bar = BarUrl("chromium")
            var bar_webkit = BarUrl("chromium.webkit");
            var bar_memory = BarUrl("chromium.memory");
            var bar_memory_fyi = BarUrl("chromium.memory.fyi");
            var bar_perf = BarUrl("chromium.perf");
            var bar_chrome = BarUrl("chromium.chrome");
            var bar_lkgr = BarUrl("chromium.lkgr");
            var bar_pyauto = BarUrl("chromium.pyauto");
            var bar_cros = BarUrl("chromium.chromiumos");

            var waterfall = "../chromium/waterfall";
            var waterfall_cros = "../chromium.chromiumos/waterfall";
            var waterfall_webkit = "../chromium.webkit/waterfall";
            var waterfall_memory = "../chromium.memory/waterfall";
            var waterfall_memory_fyi = "../chromium.memory.fyi/waterfall";
            var waterfall_chrome = "../chromium.chrome/waterfall";
            var waterfall_perf = "../chromium.perf/waterfall";
            var waterfall_lkgr = "../chromium.lkgr/waterfall";
            var waterfall_pyauto = "../chromium.pyauto/waterfall";

            function GetUrl(type, content) {
              return type + (content ? "?" + content : "");
            }

            function DisplayLKGR() {
              var xmlHttp = new XMLHttpRequest();
              var lkgrPath = '../chromium.lkgr/json/builders/Linux%20x64' +
                             '/builds/-1?as_text=1';
              var lkgrLink = document.getElementById('LKGRLink');
              xmlHttp.open('GET', lkgrPath, false);
              xmlHttp.send(null);
              if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var buildData = parseJSON(xmlHttp.responseText);
                var properties = buildData['properties'];
                for (var i = 0; i < properties.length; i++) {
                  if (properties[i][0] == 'got_revision') {
                    lkgrLink.innerHTML = 'LKGR<br>(' + properties[i][1] + ')';
                    return;
                  }
                }
              }
            }
            function Repeat(i,x){
              var t = ""
              for (j = 0; j < i; j++) { t += x; }
              return t;
            }
            function Table(p,x) {
                return "<table " + p + ">" + x + "</table>\n";
            }
            function Div(p, x) { return "<div " + p + ">" + x + "</div>"; }
            function Tr(x) { return "<tr>" + x + "</tr>\n"; }
            function Td(p, x) { return "<td " + p + ">" + x + "</td>"; }
            function A(u, x, p) {
                return "<a href='"+ u + "' " + p + ">" + x + "</a>"; 
            }
            function IFrame(p, u) {
                return "<iframe "+ p + " src='" + u + "'></iframe>";
            }

            var iframe_properties = [
                "width='100%'",
                "height='20'",
                "frameborder='0'",
                "scrolling='no'",
            ].join(" ");

            function HTMLBaseBar(waterfall_url, bar_url, content, name,
                                 bar_properties, link_properties) {
              return Td("",
                        A(GetUrl(waterfall_url, content), name,
                          link_properties)) +
                     Td(bar_properties,
                        IFrame(iframe_properties, GetUrl(bar_url, content)));
            }

            function HTMLBar(waterfall_url, bar_url, content, name) {
              return Tr(HTMLBaseBar(waterfall_url, bar_url, content, name,
                                    "width='99%' colspan=9",""));
            }

            function HTMLSubBar(waterfall_url, bar_url, content, name, pc) {
              return HTMLBaseBar(waterfall_url, bar_url, content, name,
                                 "width='" + pc + "'", "");
            }

            // Set up logical columns.
            //document.write(Tr(Repeat(10, Td("height=0 width='10%'", ""))));
            document.write(Tr(Td(
                "colspan=10 width='99%'",
                Div(
                  "class='closerbox' width='100%'",
                  Div("class='title' width='100%' height='10px'",
                      A("http://chromium-status.appspot.com","Tree closers")) +
                  Table(
                    "width='100%'",
                    HTMLBar(waterfall, bar, chromium, "Chromium") +
                    Tr(HTMLSubBar(waterfall_cros, bar_cros, cros,
                                  "ChromiumOS", "30%") +
                       HTMLSubBar(waterfall_chrome, bar_chrome, chrome,
                                  "Official", "35%") +
                       HTMLSubBar(waterfall_memory, bar_memory, memory,
                                  "Memory", "25%")))))));

            document.write(Tr(
                HTMLBaseBar(waterfall_webkit, bar_webkit, webkit,
                           "Webkit", "colspan=3", "") +
                HTMLBaseBar(waterfall_perf, bar_perf, perf,
                            "Perf", "colspan=5", "")));

            document.write(Tr(
                HTMLBaseBar(waterfall_lkgr, bar_lkgr, lkgr,
                            "LKGR", "width='10%'", "id='LKGRLink'") +
                HTMLBaseBar(waterfall_pyauto, bar_pyauto, pyauto,
                           "PyAuto", "width='15%'", "") +
                HTMLBaseBar(waterfall_memory_fyi, bar_memory_fyi, memory_fyi,
                           "Memory<br>FYI", "width='50%' colspan=5", "")));

            setTimeout("DisplayLKGR()", 100);
          </script>
        </table>
      </td>
    </tr>
  </table>
</center>

</div>
{% endblock %}
