{% extends "base.html" %}

{% block content %}
  <h2>Last Break Pad reports</h2>
  {% for r in reports %}
  <strong>Date:</strong> {{ r.date|date:"D M d, H:i T " }}<br>
  <strong>Version:</strong> {{ r.version|escape }}<br>
  <strong>User:</strong> {{ r.user|escape }}<br>
  <strong>Host:</strong> {{ r.host|escape }}<br>
  <strong>Cwd:</strong> {{ r.cwd|escape }}<br>
  <strong>Args:</strong> {{ r.args|escape }}<br>
  <strong>Stack:</strong><br>{{ r.stack|escape|spacify|linebreaksbr }}<br>
  <strong>Exception:</strong><br>{{ r.exception|escape|spacify|linebreaksbr }}<br>
  <p>
  {% endfor %}
{% endblock %}
