{% extends "base.html" %}

{% block content %}
  {% for owner, pending_commit_html in data.items %}
  <h1>{{ owner }}</h1>
    <table border="1" cellpadding="5">
      <thead>
        <tr bgcolor="#CCCCFF">
          <th>Issue</th>
          <th>Patchset</th>
          <th>Timestamp</th>
          <th>Type</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% autoescape off %}
        {{ pending_commit_html }}
        {% endautoescape %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
