<!-- Copyright 2017 The Chromium Authors. All rights reserved.
Use of this source code is governed under the Apache License, Version 2.0
that can be found in the LICENSE file. -->

{{define "title"}}Builder {{.Model.Builder.ID.Builder}}{{end}}

{{define "head"}}
<style type="text/css">
  form {
    margin-top: 1em;
    margin-bottom: 1em;
  }
</style>
{{end}}

{{define "content"}}
  {{with .Model}}
<ol class="breadcrumb">
  <li class="active">
    <a href="/">All masters</a>
  </li>
  <li class="active">
    <a href="/masters/{{.Builder.ID.Master}}/">{{.Builder.ID.Master}}</a>
  </li>
  <li class="active">
    <a href="/masters/{{.Builder.ID.Master}}/builders/{{.Builder.ID.Builder}}/">{{.Builder.ID.Builder}}</a>
  </li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Builder {{.Builder.ID.Builder}}</h2>

      <p>
        <a href="https://chromium.googlesource.com/infra/infra/+/master/go/src/infra/appengine/luci-migration/README.md">
          How to use it?</a>
      </p>

      <div>
        Buildbot:
        <a href="https://ci.chromium.org/buildbot/{{.Builder.ID.Master}}/{{.Builder.ID.Builder}}/">builds</a>,
        <a href="https://goto.google.com/buildbucket-dashboard?bucket=master.{{.Builder.ID.Master}}&amp;builder={{.Builder.ID.Builder}}">metrics</a>.
      </div>

      <div>
        LUCI:
        <a href="https://ci.chromium.org/buildbucket/{{.Builder.LUCIBuildbucketBucket}}/{{.Builder.LUCIBuildbucketBuilder}}/">builds</a>,
        <a href="https://goto.google.com/buildbucket-dashboard?bucket={{.Builder.LUCIBuildbucketBucket}}&amp;builder=LUCI {{.Builder.ID.Builder}}">metrics</a>.

      </div>

      <div>
        Tracking bug:
        <a href="{{.Builder.IssueID.URL}}">{{.Builder.IssueID.URL}}</a>
      </div>

      <form method="post" class="form-inline">
        <input type="hidden" id="xsrf_token" name="xsrf_token" value="{{$.XsrfToken}}">
        <div class="form-group">
          <label for="experimentPercentage">Experiment percentage</label>
          <input id="experimentPercentage" name="experimentPercentage" type="range" list="tickmarks" value="{{.Builder.ExperimentPercentage}}">
          <datalist id="tickmarks">
            <option value="0">
            <option value="10">
            <option value="20">
            <option value="30">
            <option value="40">
            <option value="50">
            <option value="60">
            <option value="70">
            <option value="80">
            <option value="90">
            <option value="100">
          </datalist>
        </div>
        <button type="submit" class="btn btn-default">Update</button>
      </form>

    {{if not .StatusKnown}}
      <div class="alert alert-info" role="alert" style="margin-top: 10px">
        Migration status is unknown.
        Perhaps this builder was not analyzed yet.
      </div>
    {{else}}
      <h2>Latest comparison</h2>
      <div>
        Status: <span class="label label-{{.StatusClassSuffix}}">{{.Builder.Migration.Status}}</span>
        as of {{.RelAnalysisTime | durationString}} ago
      </div>
      <div>
        LUCI Correctness:
        {{.Builder.Migration.Correctness | percent}}%
      </div>
      <div>
        LUCI Speed: {{.Builder.Migration.Speed | percent}}%
      </div>

      <h3>Why?</h3>
      <div>{{.Details}}</div>
    {{end}}
    </div>
  </div>
</div>
  {{end}}
{{end}}
