<!-- Copyright 2017 The Chromium Authors. All rights reserved.
Use of this source code is governed under the Apache License, Version 2.0
that can be found in the LICENSE file. -->

{{define "title"}}Masters{{end}}

{{define "content"}}
  {{with .Model}}
<ol class="breadcrumb">
  <li class="active"><a href="/">All masters</a></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2>Masters</h2>
      <table class="table">
        <thead>
          <tr>
            <td>Name</td>
            <td>Total builders</td>
            <td>WAI builders</td>
            <td>Migrated builders</td>
          </tr>
        </thead>
        <tbody>
    {{range .Masters}}
          <tr>
            <td>
              <a href="masters/{{.Name}}/">{{.Name}}</a>
            </td>
            <td>{{.TotalBuilderCount}}</td>
            <td>{{.WAIBuilderCount}} ({{.WAIBuilderPercent}}%)</td>
            <td>{{.MigratedBuilderCount}} ({{.MigratedBuilderPercent}}%)</td>
          </tr>
    {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
  {{end}}
{{end}}
