<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Ranked Flaky Tests</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/common.css">
  <script src="/ui/js/common.js"></script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/ui/elements/findit-app.html">
  <link rel="import" href="/ui/elements/flake_detection/rank_flakes.html">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style type="text/css">
    html, body {
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    table, tr, td {
      border: 0px;
    }

    .previous, .next {
      color: #1A73EB;
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      border-bottom:1px solid #1A73EB;
      cursor: pointer;
    }

    .disabled {
      color: #9AA0A6;
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      border-bottom:1px solid #9AA0A6;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }

    .paging {
      padding: 5px;
    }

    #footer {
      margin-top: 10px;
    }
  </style>
  <script>

    function submitForm() {
      // Removes the empty parameters from the url.
      $('form').find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
      $('form').submit();
    }

    function submitFormWithCursor(obj) {
      if (obj.attr('class') == 'previous') {
        $('#cursor').val('{{ prev_cursor }}');
        $('#direction').val('previous');
      } else if (obj.attr('class') == 'next') {
        $('#cursor').val('{{ cursor }}');
        $('#direction').val('next');
      } else {
        return;
      }

      $('#flake_filter').val('');
      submitForm();
    }

    function requestFilteredResults(e) {
      var key = e.which;
      if (key == 13) {
        submitForm();
      }
    };

    $(function() {
      $('form').find( ":input" ).prop( "disabled", false );

      $(document).on('click', '.previous, .next', function() {
        submitFormWithCursor($(this));
      });

      $(document).on('keydown', function(event){
        if (event.key == '?') {
          event.preventDefault();
          displayMessage(600);
        }
      });

      $('#flake_filter').keypress(requestFilteredResults);

      if ('{{ cursor }}' == '') {
        $('.next').prop('disabled', true);
        $('.next').addClass('disabled');
      } else {
        $('.next').prop('disabled', false);
      }

      if ('{{ prev_cursor }}' == '') {
        $('.previous').prop('disabled', true);
        $('.previous').addClass('disabled');
      } else {
        $('.previous').prop('disabled', false);
      }

      document.getElementById('app').userInfo = {{ (user_info or {}) | tojson | safe }};
    });
  </script>
</head>
<body>
  <findit-app id="app" page-header="Ranked Flaky Tests (last 7 days)">
    <form method="get" action="/ranked-flakes">
      <input type="text" name="luci_project" id="luci_project" class="hidden" value="{{luci_project}}">
      <input type="text" name="n" id="n" class="hidden" value="{{n}}">
      <input type="text" name="cursor" id="cursor" class="hidden">
      <input type="text" name="direction" id="direction" class="hidden">
      <input type="text" name="bug_id" id="bug_id" class="hidden" value="{{bug_id}}">
      <input type="text" name="monorail_project" id="monorail_project" class="hidden" value="{{monorail_project}}">
      <input type="text" name="flake_filter" id="flake_filter" size="200" placeholder="Search by full test name, test_type:network_service_browser_tests, binary:browser_tests, component:Blink>Accessibility, watchlist:accessibility, directory:base/, etc (Press '?' for more search options)" value="{{ flake_filter }}"/>
    </form>
    {% if error_message %}
    <div style="font-weight:bold; color: red">{{ error_message }}</div>
    {% endif %}
    <br>
    <div class="paging">
      <button class="previous">Previous</button>
      <button class="next">Next</button>
    </div>
    <rank-flakes flakes='{{flakes_data | tojson}}' weights='{{flake_weights | tojson}}'></rank-flakes>
    <div id="footer">
      * For more information on how flaky tests and flake occurrences are defined and detected, please refer to <a href='https://chromium.googlesource.com/infra/infra/+/master/appengine/findit/docs/flake_detector.md'>documentation</a>.
    </div>
    </div>
  </findit-app>
</body>
