<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Auto Revert Settings</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/ui/elements/findit-app.html">
  <script>
    $(function() {
      document.getElementById('app').userInfo = {{ (user_info or {}) | tojson | safe }};
    });
  </script>
</head>
<body>
  <findit-app id="app" login-required="true">
    {% if auto_commit_revert_compile_on %}
      <h1>Auto-commit of reverts: On.</h1>
    {% else %}
      <h1>Auto-commit of revert: Off.</h1>
      <b>Only Findit admin could turn auto-commit back on.</b>
    {% endif %}
    {% if auto_commit_revert_compile_on or is_admin %}
      <br><br>
      <form id="change-auto-revert-setting-form" action="/waterfall/change-auto-revert-setting" method="post">
        <input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>
        Please enter update reason (<font color="red">*required</font>).<br>
        <textarea id="update_reason" name="update_reason" rows="4" cols="80" required></textarea>
        <br><br>
        {% if auto_commit_revert_compile_on %}
          <button type="submit" name="auto_commit_revert_compile" value="false">Disable Auto Commit</button>
        {% else %}
          <button type="submit" name="auto_commit_revert_compile" value="true">Enable Auto Commit</button>
        {% endif %}
      </form>
    {% endif %}
  </findit-app>


</body>
