<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Change Auto Revert Settings</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/ui/elements/findit-app.html">
  <script>
    $(function() {
      document.getElementById('app').userInfo = {{ (user_info or {}) | tojson | safe }};
    });
  </script>
</head>
<body>
  <findit-app id="app" login-required="true">
    {% if auto_revert_on %}
      <h1>Auto Revert: On.</h1>
    {% else %}
      <h1>Auto Revert: Off.</h1>
    {% endif %}
    <br><br>
    <form id="change-auto-revert-setting-form" action="/waterfall/change-auto-revert-setting" method="post">
      <input type="hidden" name="xsrf_token" value="{{xsrf_token}}"/>
      Please enter update reason (required).
      <textarea id="update_reason" name="update_reason" rows="4" cols="80" required></textarea>
      {% if auto_revert_on %}
        <button type="submit" name="revert_compile_culprit" value="false">Disable Auto Revert</button>
      {% else %}
        <button type="submit" name="revert_compile_culprit" value="true">Enable Auto Revert</button>
      {% endif %}
    </form>
  </findit-app>>


</body>
