/** 
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file 
 */

#projectName {
  display:inline-block;
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 5px;
}

#loadGraphs {
  display:inline-block;
}
