<!DOCTYPE html>

<table>
<tr>
<td colspan="4">All flaky occurrences of <b>{{flake.name}}</b>.</td>
</tr>

<tr>
<td colspan="4">
<form action="/override_issue_id" method="GET">
Current Issue ID where new flakes are reported:
<input type="hidden" name="key" value="{{flake.key.urlsafe}}"/>
<input type="text" name="issue_id" value="{{flake.issue_id}}"/>
<input type="submit" value="Override"/> (set to 0 to have new bug automatically created)
</form>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

{% for failure_runs in grouped_runs %}
{% for f in failure_runs %}
<tr>

<td><a href="{{f.url}}">try run at {{f.formatted_time}}</a></td>
<td><a href="{{f.patchset_url}}">patchset</a></td>
<td>{{f.builder}} </td>
<td>
{% if f.issue_ids %}
(reported in <!--
-->{% for issue_id in f.issue_ids %}<!--
--><a href="https://crbug.com/{{issue_id}}">{{issue_id}}</a><!--
-->{% endfor %}<!--
-->)
{% endif %}
</td>

</tr>
{% endfor %}

<tr>
<td>&nbsp;</td>
</tr>

{% endfor %}

</table>

{% if show_all_link %}
<a href="/all_flake_occurrences?key={{flake.key.urlsafe}}&show_all=1">
show all flakes</a> (may take several minutes to load)
{% endif %}
