body {
  padding: 0;
  margin: 0;
}

h1 {
  background-color: rgba(2,119,189,1);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.26);
  font-size: 2em;
  color: white;
  padding: .5em;
  margin: 0 0 1em 0;
}

#badges {
  margin: 1.5em;
}

.badge {
  width: 130px;
  height: 150px;
  float: left;
  margin: .5em;
  padding: .5em;
  background: #eee;
}

.icon {
  position: relative;
  text-align: center;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 120px;
}


.icon img {
  width: 120px;
  height: 120px;
}

.level {
  position: absolute;
  font-size: 120%;
  bottom: -2px;
  right: -2px;
  background: #4a4;
  color: white;
  border: 1px solid white;
  border-radius: 18px;
  padding: 4px 10px;
}

.caption {
  margin-top: 10px;
  text-align: center;
}
