.*\.py[co]
.*\.pyc-2.4
.*~
.*\.orig
.*\.swp
.*\#.*
.*@.*
index\.yaml
REVISION
.coverage
htmlcov
.DS_Store
workspace.xml
elements/**/*\.vulcanized.*
bower_components
node_modules
elements/mock-data/*\.json
!elements/mock-data/gates-mock.json
app.yaml
module-besearch.yaml
module-latency-insensitive.yaml
