.*\.py[co]
.*\.pyc-2.4
.*~
.*\.orig
.*\.swp
.*\#.*
.*@.*
.nyc_output
index\.yaml
REVISION
.coverage
coverage
htmlcov
.DS_Store
workspace.xml
static_src/**/*\.min.js*
static/dist
node_modules
deployed_node_modules
elements/mock-data/*\.json
!elements/mock-data/gates-mock.json
app.yaml
app.prod.yaml
module-besearch.yaml
besearch.prod.yaml
besearch.yaml
module-latency-insensitive.yaml
latency-insensitive.prod.yaml
latency-insensitive.yaml
templates/webpack-out
